<button class="btn btn-secondary mobile-toggle" (click)="toggleSidebar()">
    ☰
</button>

<div class="sidebar" [class.sidebar-open]="isOpen">
    <div class="text-center development-tag" *ngIf="env == 'Development'">
        {{env}}
    </div>

    <div class="sidebar-header">
        <img class="img-fluid" src="/assets/images/logo-black.png">
    </div>

    <ul class="sidebar-menu">
        <li>
            <a routerLinkActive="active-link" routerLink="/dashboard" (click)="closeSidebar()">
                <i class="bi bi-grid me-2"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a routerLinkActive="active-link" routerLink="/income" (click)="closeSidebar()">
                <i class="bi bi-cash-coin me-2"></i>
                Renda
            </a>
        </li>

        <li>
            <a routerLinkActive="active-link" routerLink="/expenses" (click)="closeSidebar()">
                <i class="bi bi-basket me-2"></i>
                Despesas
            </a>
        </li>

        <li>
            <a routerLinkActive="active-link" routerLink="/investments" (click)="closeSidebar()">
                <i class="bi bi-graph-up-arrow me-2"></i>
                Investimentos
            </a>
        </li>

        <li>
            <a routerLinkActive="active-link" routerLink="/assets" (click)="closeSidebar()">
                <i class="bi bi-house-door me-2"></i>
                Patrimônio
            </a>
        </li>

        <li>
            <a routerLinkActive="active-link" routerLink="/tools" (click)="closeSidebar()">
                <i class="bi bi-house-door me-2"></i>
                Ferramentas
            </a>
        </li>

        <li>
            <a routerLink="/login" (click)="closeSidebar()">
                <i class="bi bi-box-arrow-left"></i>
                Logout
            </a>
        </li>
    </ul>
</div>


<div class="sidebar-backdrop" *ngIf="isOpen" (click)="closeSidebar()"></div>