<div class="row mt-0 mx-0 bg-white shadow top-bar">
  <div class="col-lg-8 col-6 d-flex m-0">
    <h2 class="my-auto">Despesas</h2>
  </div>
  <div class="col-lg-4 col-6 text-end d-flex">
    <button (click)="showCreateModal = true" class="my-auto w-100 btn btn-primary">+ Adicionar Despesa</button>
  </div>
</div>

<div class="p-4" style="margin-top: 100px;">
  <div class="row">
    <div class="col-lg-4 col-12 p-2">
      <div class="border rounded-4 p-4 bg-white stretch">
        <label class="col-12 fw-bold fs-7 f-muted">Depesas mensais</label>
        <label class="col-12 fs-2 fw-bold text-danger">{{mothlyExpense.totalExpenses | currency:'BRL' }}</label>
        <label class="col-12 fs-7">{{mothlyExpense.percentalOfIncome | percent}} da renda total</label>
      </div>
    </div>

    <div class="col-lg-4 col-12 p-2 stretch">
      <div class="border rounded-4 p-4 bg-white">
        <label class="col-12 fw-bold fs-7 f-muted">Maior custo</label>
        <label class="col-12 fs-2 fw-bold text-warning">{{highestCost.amount | currency:'BRL'}}</label>
        <label class="col-12 fs-7">{{highestCost.category}}</label>
      </div>
    </div>

    <div class="col-lg-4 col-12 p-2">
      <div class="border rounded-4 p-4 bg-white stretch">
        <label class="col-12 fw-bold fs-7 f-muted">Categoria mais cara</label>
        <label class="col-12 fs-2 fw-bold text-primary">{{mostExpensiveCategory.category}}</label>
        <label class="col-12 fs-7">{{mostExpensiveCategory.percentual | percent}} do total</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-12 p-2">
      <div class="border rounded-4 p-4 bg-white stretch">
        <label class="col-12 fw-bold fs-7 f-muted">Visão geral</label>
        <div *ngIf="expenses.length > 0">
          <apx-chart class="mx-auto" *ngIf="topItemsChartOptions" [series]="topItemsChartOptions.series"
            [chart]="topItemsChartOptions.chart" [labels]="topItemsChartOptions.labels"
            [responsive]="topItemsChartOptions.responsive" [theme]="topItemsChartOptions.theme">
          </apx-chart>
        </div>
        <div *ngIf="expenses.length <= 0">
          <div class="mt-4 alert alert-info">
            Adicione uma despesa para visualizar.
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12 p-2">
      <div class="border rounded-4 p-4 bg-white stretch">
        <label class="col-12 fw-bold fs-7 f-muted">Top Categorias</label>

        <div *ngIf="expenses.length > 0">
          <apx-chart *ngIf="topCategoriesChartOptions" [series]="topCategoriesChartOptions.series"
            [chart]="topCategoriesChartOptions.chart" [xaxis]="topCategoriesChartOptions.xaxis"
            [yaxis]="topCategoriesChartOptions.yaxis" [plotOptions]="topCategoriesChartOptions.plotOptions"
            [dataLabels]="topCategoriesChartOptions.dataLabels" [grid]="topCategoriesChartOptions.grid"
            [tooltip]="topCategoriesChartOptions.tooltip" [legend]="topCategoriesChartOptions.legend"
            [theme]="topCategoriesChartOptions.theme">
          </apx-chart>
        </div>

        <div *ngIf="expenses.length <= 0">
          <div class="mt-4 alert alert-info">
            Adicione uma despesa para visualizar.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="expenses.length > 0">
    <div class="col-12">
      <div class="row">
        <h5 class="col-lg-6 col-12">Despesas</h5>
        <div class="col-lg-6 col-12">
          <input type="text" (keyup)="filterExpenses()" [(ngModel)]="searchExpense" class="form-control" placeholder="Pesquisar...">
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-12 p-2" *ngFor="let exp of visibleExpenses">
      <div class="border rounded-4 p-4 bg-white stretch">
        <div class="row">
          <div class="col-auto">
            <label class="fs-6 fw-bold">{{exp.description}}</label>
          </div>
          <div class="col text-end" (click)="deleteExpense(exp)">
            <i class="fs-6 bi bi-x-circle text-danger" style="cursor: pointer;"></i>
          </div>
        </div>

        <div class="col-12 fs-7 text-muted ">
          {{exp.category}}
        </div>

        <label class="col-12 fs-7 text-muted mt-2">Valor</label>

        <div>
          <label class="col-12 fs-5 fw-bold">
            {{exp.amount| currency:'BRL'}}
          </label>
        </div>
        <div>
          <label class="fs-7 fw-bold text-primary">
            {{exp.amount / mothlyExpense.totalExpenses| percent}}
          </label>
          <label class="ms-1 fs-7 text-muted">do Total</label>
        </div>

        <button class="mt-4 col-12 btn btn-primary" (click)="editExpense(exp)">Editar</button>
      </div>
    </div>
  </div>


</div>

<div *ngIf="showCreateModal" class="modal-overlay" id="modalOverlay">
  <div class="modal p-4">

    <span class="modal-close" (click)="showCreateModal = false">&times;</span>

    <div class="col-12 fw-bold fs-4">
      Nova Despesa
    </div>
    <div class="col-12 fs-7 text-muted text-nowrap">
      Adicione um nova despesa mensal
    </div>

    <div class="row">
      <div class="col-12 text-muted fw-bold fs-7 text-start">
        <label>Descrição</label>
      </div>
      <div class="col-12 d-flex">
        <input [(ngModel)]="expenseToAdd.description" type="text" placeholder="Digite uma descrição ..."
          class="form-control">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 text-muted fw-bold fs-7 text-start">
        <label>Categoria</label>
      </div>
      <div class="col-12 d-flex">
        <select [(ngModel)]="expenseToAdd.category" class="form-select">
          <option *ngFor="let cat of categories">{{cat.name}}</option>
        </select>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 text-muted fw-bold fs-7 text-start">
        <label>Valor</label>
      </div>
      <div class="col-12 d-flex">
        <input [(ngModel)]="expenseToAdd.amount" type="number" placeholder="Digite uma descrição ..."
          class="form-control">
      </div>
    </div>

    <div class="row m-0 mt-4" *ngIf="error">
      <span class="col-12 alert alert-danger text-start">
        {{error}}
      </span>
    </div>

    <div class="col-12 mt-4">
      <button (click)="addExpense()" class="w-100 btn btn-primary">Salvar</button>
    </div>
  </div>
</div>