<div class="row mt-0 mx-0 bg-white shadow top-bar">
    <div class="col-lg-8 col-6 d-flex m-0">
        <h2 class="my-auto">Ferramentas</h2>
    </div>
    <!-- <div class="col-lg-4 col-6 text-end d-flex">
        <button (click)="showAddModal = true;" class="w-100 btn btn-primary my-auto">+ Adicionar Renda</button>
    </div> -->
</div>

<div class="p-4" style="margin-top: 100px;">
    <h5>Custo de Transporte</h5>
    <div class="row">
        <div class="col-lg-6 col-12 p-2 ">
            <div class="border rounded-4 p-4 bg-white stretch">
                <label class="col-12 fw-bold fs-7 f-muted">Dados</label>

                <div class="row m-0">
                    <label class="col-12 p-0">Km/mês</label>
                    <input (change)="calculate()" [(ngModel)]="data.kmMonth" class="col-12 form-control" type="number"
                        placeholder="Ex : 120">
                </div>

                <div class="row m-0 mt-2">
                    <label class="col-12 p-0">Preço da Gasolina</label>
                    <input (change)="calculate()" [(ngModel)]="data.gasPrice" class="col-12 form-control" type="number"
                        placeholder="Ex : 7,00">
                </div>

                <div class="row m-0 mt-2">
                    <label class="col-12 p-0">Preço do Veículo</label>
                    <input (change)="calculate()" [(ngModel)]="data.vehiclePrice" class="col-12 form-control"
                        type="number" placeholder="Ex : 60.000,00">
                </div>

                <div class="row m-0 mt-2">
                    <label class="col-12 p-0">Km/L do Veículo</label>
                    <input (change)="calculate()" [(ngModel)]="data.kmLiter" class="col-12 form-control" type="number"
                        placeholder="Ex : 1%">
                </div>

                <div class="row m-0 mt-2">
                    <label class="col-12 p-0">Juros mensal %</label>
                    <input (change)="calculate()" [(ngModel)]="data.dividendsYeild" class="col-12 form-control"
                        type="number" placeholder="Ex : 1%">
                </div>

                <div class="row m-0 mt-2">
                    <label class="col-12 p-0">Classe do Uber</label>
                    <select (change)="calculate()" [(ngModel)]="data.uberPrice" class="form-select">
                        <option *ngFor="let ubr of uberOptions" [value]="ubr.price">{{ubr.name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12 p-2 ">
            <div class="border rounded-4 p-4 bg-white stretch">
                <div class="row">
                    <div class="col-auto">
                        <label class="fs-6 fw-bold">Resultados</label>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-6">
                        <label class="col-12 fs-7 text-muted mt-2">Veículo</label>

                        <div>
                            <label class="col-12 fs-5 fw-bold">
                                {{data.vehicleTotal | currency:'BRL'}}
                            </label>
                        </div>
                    </div>

                    <div class="col-6">
                        <label class="col-12 fs-7 text-muted mt-2">Uber</label>

                        <div>
                            <label class="col-12 fs-5 fw-bold">
                                {{data.uberTotal | currency:'BRL'}}
                            </label>
                        </div>

                        <label class="ms-1 fs-7 text-muted">(Considerando rendimentos)</label>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-6">
                        <label class="col-12 fs-7 text-muted mt-2">Melhor opção</label>

                        <label class="col-12 fs-5 fw-bold text-primary">
                            <div *ngIf="data.uberTotal < data.vehicleTotal">Uber</div>
                            <div *ngIf="data.uberTotal > data.vehicleTotal">Veículo</div>
                        </label>

                        <label class="ms-1 fs-7 text-muted">Diferença :</label>
                        <label class="fs-7 fw-bold text-success">
                            {{data.totalDiff | currency}}
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-12 p-2 ">
            <div class="border rounded-4 p-4 bg-white stretch">
                <label class="col-12 fw-bold fs-7 f-muted">Veículo</label>
                <div class="table-wrapper border mt-2" style="overflow-x: auto;">
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fw-semibold">IPVA</td>
                                <td class="fw-semibold text-danger">{{data.ipva| currency:'BRL'}}</td>
                            </tr>
                            <tr>
                                <td class="fw-semibold">Seguro</td>
                                <td class="fw-semibold text-danger">{{data.issurence| currency:'BRL'}}</td>
                            </tr>
                            <tr>
                                <td class="fw-semibold">Manutenção</td>
                                <td class="fw-semibold text-danger">{{data.maintence| currency:'BRL'}}</td>
                            </tr>
                            <tr>
                                <td class="fw-semibold">Gasolina</td>
                                <td class="fw-semibold text-danger">{{data.gasTotal | currency:'BRL'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12 p-2 ">
            <div class="border rounded-4 p-4 bg-white stretch">
                <label class="col-12 fw-bold fs-7 f-muted">Uber</label>
                <div class="table-wrapper border mt-2" style="overflow-x: auto;">
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fw-semibold">Uber</td>
                                <td class="fw-semibold text-danger">{{data.uberExpense| currency:'BRL'}}</td>
                            </tr>
                            <tr>
                                <td class="fw-semibold">Rendimentos</td>
                                <td class="fw-semibold text-success">{{data.yeild | currency:'BRL'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>